{{ template "base" . }}

{{ define "content" }}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>About our company</h1>
      <p>This is a test</p>
      <p class="danger">We are a bad company and you should avoid us!</p>
    </div>
  </div>
</div>


{{ end }}
